<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <title>{% block title %}[Mindgames]{% endblock %}</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link href="{% if active_section != 'index' %}../{% endif %}css/style.css" rel="stylesheet">
</head>

<body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <header class="navbar navbar-inverse navbar-fixed-top mindgames-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% if active_section != 'index' %}../{% endif %}index.html" class="navbar-brand">Mindgames</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li{% if active_section == "apps" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}apps/index.html">Apps</a>
                    </li>
                    <li{% if active_section == "board" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}board/index.html">Board</a>
                    </li>
                    <li{% if active_section == "card" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}card/index.html">Card</a>
                    </li>
                    <li{% if active_section == "math" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}math/index.html">Math</a>
                    </li>
                    <li{% if active_section == "puzzle" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}puzzle/index.html">Puzzle</a>
                    </li>
                    <li{% if active_section == "word" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}word/index.html">Word</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li{% if active_section == "index" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}index.html">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="bs-header" id="content">
            {% block header %}{% endblock %}
        </div>
        {% block content %}{% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>

</html>