<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="dns-prefetch" href="http://mindgamesihsan.disqus.com">
    <link rel="dns-prefetch" href="http://themes.googleusercontent.com">
    <link rel="dns-prefetch" href="http://go.disqus.com">
    <link rel="dns-prefetch" href="http://a.disquscdn.com">
    <link rel="dns-prefetch" href="http://disqus.com">
    <link rel="dns-prefetch" href="http://b.scorecardresearch.com">
    <link rel="dns-prefetch" href="http://www.google-analytics.com">
    <link rel="dns-prefetch" href="http://realtime.services.disqus.com">
    <link rel="dns-prefetch" href="http://juggler.services.disqus.com">
    <link rel="dns-prefetch" href="http://referrer.disqus.com">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-tooltip" content="An eclectic collection of games for the mind!">

    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
    <meta name="DC.Title" content="{% block title %}[Mindgames]{% endblock %}">
    <meta name="DC.Creator" content="Ihsan Ul Haque">
    <meta name="DC.Subject" content="Computer games">
    <meta name="DC.Contributor" content="Asim Ihsan">
    <meta name="DC.Date" content="{{ date }}">
    <meta name="DC.Type" content="Software">
    <meta name="DC.Language" content="en">
    <link rel="DC.Rights" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">

    <!-- Bootstrap -->
    <link href="{% if active_section != 'index' %}../{% endif %}css/bootstrap.min.css" rel="stylesheet">
    <link href="{% if active_section != 'index' %}../{% endif %}css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% if active_section != 'index' %}../{% endif %}js/html5shiv.min.js"></script>
      <script src="{% if active_section != 'index' %}../{% endif %}js/respond.min.js"></script>
    <![endif]-->

    <title>{{ self.title() }}</title>
</head>

<body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <header class="navbar navbar-inverse navbar-fixed-top mindgames-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% if active_section != 'index' %}../{% endif %}index.html" class="navbar-brand">Mindgames</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li{% if active_section == "apps" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}apps/index.html">Apps</a>
                    </li>
                    <li{% if active_section == "board" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}board/index.html">Board</a>
                    </li>
                    <li{% if active_section == "card" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}card/index.html">Card</a>
                    </li>
                    <li{% if active_section == "math" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}math/index.html">Math</a>
                    </li>
                    <li{% if active_section == "puzzle" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}puzzle/index.html">Puzzle</a>
                    </li>
                    <li{% if active_section == "word" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}word/index.html">Word</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li{% if active_section == "index" %} class="active"{% endif %}><a href="{% if active_section != 'index' %}../{% endif %}index.html">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container-fluid main-container col-md-10">

        <div class="bs-header" id="content">
            {% block header %}{% endblock %}
        </div>
        
        <div class="bs-content clearfix">
            {% block content %}{% endblock %}
        </div>
        
        <div class="bs-footer">
            <p>Games made by <a href="mailto:ihsanulhaque47+mindgames@hotmail.com" rel="author">Ihsan Ul Haque</a>.</p>
            <p>Web design by <a href="http://www.asimihsan.com" rel="author">Asim Ihsan</a>.</p>

            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Mindgames</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.ihsan.biz" property="cc:attributionName" rel="cc:attributionURL">Ihsan Ul Haque</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% if active_section != 'index' %}../{% endif %}js/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% if active_section != 'index' %}../{% endif %}js/bootstrap.min.js"></script>
</body>

</html>