{% extends "base.html" %}

{% block title %}[Mindgames] {{ game.name }} {% endblock title %}

{% block header %}
<ul class="breadcrumb">
    <li><a href="../index.html">Home</a>
    </li>
    <li><a href="../{{ active_section }}/index.html">{{ category_title }}</a>
    </li>
    <li class="active">{{ game.name }}</li>
</ul>
<h1>{{ game.name }}</h1>
{% endblock header %}

{% block content %}
<p>(read and leave comments at the <a href="#disqus_thread">bottom of the page</a>)</p>

{{ game.description_html }}

<h2>Comments</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'mindgamesihsan';
    var disqus_identifier = '{{ game.game_id }}';
    var disqus_title = '{{ game.name }} (Mindgames)';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock content %}
